@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system;
}

body {
  margin: 0 auto;
  max-width: 1400px;
}

.container {
  padding: 15px;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.nav #nav-logo {
  padding: 10px 20px;
  background-color: rgba(61, 22, 2, 0.17);
  border-radius: 100px;
}
.nav a {
  color: inherit;
  text-decoration: none;
}
.nav__home {
  text-decoration: none;
  color: black;
}
.nav__misc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.nav__misc > * {
  width: 30px;
  height: 30px;
}

.hero__container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  border-radius: 30px;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}
.hero__container img {
  width: 100%;
  object-fit: cover;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
.intro h1 {
  font-size: clamp(4rem, 5vw, 7rem);
}
.intro p {
  font-size: clamp(1.2rem, 5vw, 1.5rem);
  color: #7a7a7a;
  font-weight: 300;
}
.intro a {
  margin-top: 10px;
  color: black;
}

hr {
  margin: 0 0 50px 0;
  opacity: 0.2;
}

.hero__container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  border-radius: 30px;
  max-height: 500px;
  overflow: hidden;
  position: relative;
}
.hero__container img {
  width: 100%;
  object-fit: cover;
}

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featured a {
  text-decoration: none;
  color: inherit;
}
.featured h2 {
  font-size: clamp(2rem, 5vw, 4rem);
  text-align: center;
}
.featured p {
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: #7a7a7a;
  font-weight: 300;
  margin-bottom: 50px;
}
.featured .products {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  transition: ease 0.5s;
  position: relative;
}
.featured .products__container {
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  margin-bottom: 50px;
  max-width: 600px;
  min-height: 300px;
  background: #ffffff;
  box-shadow: 0px 0px 50px -17px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 30px;
  transition: ease 0.2s;
  position: relative;
}
.featured .products__container:hover {
  transform: scale(1.005) rotate(0.5deg);
  cursor: pointer;
}
.featured .products--image {
  border-radius: 35px;
  overflow: hidden;
}
.featured .products--image img {
  width: 100%;
  object-fit: cover;
}
.featured .products--details {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-height: 100px;
  position: relative;
  margin-top: 20px;
}
.featured .products--details .title {
  margin-top: 5px;
  font-size: clamp(2rem, 5vw, 3rem);
}
.featured .products--details .price {
  font-size: clamp(1rem, 5vw, 2rem);
  opacity: 0.6;
}
.featured button {
  border: none;
  background: none;
  position: absolute;
  bottom: 130px;
  right: 25px;
  cursor: pointer;
  transition: ease 0.3s;
}
.featured button:hover {
  transform: scale(1.2);
}
.featured .edit-product {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  transition: ease 0.3s;
}
.featured .edit-product:hover {
  transform: scale(1.2);
}

section {
  margin-bottom: 50px;
}

.heading-animation {
  background: linear-gradient(90deg, hsl(155deg, 90%, 55%), hsl(219deg, 95%, 55%), hsl(155deg, 90%, 55%)) 0 0/400% 100%;
  animation: moving-text 20s infinite linear;
  color: transparent;
  -webkit-background-clip: text;
}

@keyframes moving-text {
  to {
    background-position: 400% 0;
  }
}
.cart-total {
  margin-top: 100px;
  font-size: 2rem;
}

/*# sourceMappingURL=main.css.map */
